<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="box">
            <h1 class="title with-margin is-1 has-text-centered">
                What is SWIFT?
            </h1>
            <p>
                We are Students With an Interest in the Future of Technology, SWIFT! Our goal is to provide a supportive
                and
                collaborative environment for individuals to learn about the latest
                technologies and techniques in cybersecurity. We explore a wide range of topics, from penetration
                testing to
                incident response and threat hunting. Our community is open to people from all backgrounds, majors, and
                skill levels!
            </p>
        </div>
        <div class="box">
            <h1 class="title with-margin is-1 has-text-centered">
                SWIFT's Mission Statement
            </h1>

            <p>
                SWIFT's mission is to provide the best place to empower students to become cybersecurity professionals.
            </p>
        </div>
    </div>
</div>