<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="box">
            <h1 class="title with-margin is-1 has-text-centered">
                Where to find us?
            </h1>
            <p>
                We are usually located in {{site.data.calendar.room}}! You can find us during general meetings on
                Tuesdays during U-hour (12pm-1pm) or during our Friday workshops (6pm-8pm). Feel free to add this
                Google calendar to your own, and we hope to see you at our next meeting! 
            </p>
        </div>
        <div class="box">
            {{site.data.calendar.embed}}
        </div>
    </div>
</div>