<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="box">
            <h1 class="title with-margin is-1 has-text-centered">
                Where to find us?
            </h1>
            <p>
                We are usually located in <a href="{{site.data.calendar.map}}">{{site.data.calendar.room}}</a>! While you can usually find us during general meetings on
                Tuesdays during U-hour (12pm-1pm) or during our Friday workshops (4pm-6pm), the calendar below has the most up to date information. Feel free to add this
                Google calendar to your own, and we hope to see you at our next meeting! 
            </p>
        </div>
        <div class="box">
            <div class="is-centered has-text-centered">
                <img src="/assets/images/Spring24WorkshopsGraphic.png">
            </div>
        </div>
        <div class="box">
            <div class="embed-container">
                {{site.data.calendar.embed}}
            </div>
        </div>
    </div>
</div>
