<section class="hero is-fullheight has-background-black-ter" id="engagement">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <h1 class="title is-size-1 has-text-centered has-text-weight-bold has-text-white-bis">
                        {{ site.data.engagement.title }}
                    </h1>
                    <br>
                    {% assign columns = site.data.engagement.columns %}
                    {% assign height = site.data.engagement.descriptions.size | divided_by: columns %}
                    {% assign iter = columns|minus: 1 %}
                    <div class="tile is-ancestor">
                        {% for i in (0..iter) %}
                        <div class="tile is-vertical is-parent">
                            {% assign off = height | times: i %}
                            {% for event in site.data.engagement.descriptions limit: height offset: off %}
                            <div class="tile is-child box">
                                <h1 class="title with-margin is-size-2 has-text-weight-bold">
                                    {{ event.title }}
                                </h1>
                                <p>
                                    {{ event.description }}
                                </p>
                                {% if event.link %}
                                <a href="{{ event.link }}"
                                    class="button is-medium is-info is-rounded is-uppercase has-text-weight-normal">
                                    {% if event.link-text %}
                                    {{ event.link-text }}
                                    {% else %}
                                    See more
                                    {% endif %}
                                </a>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>