<section class="hero is-halfheight has-text-centered has-background-grey" id="last">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="container box columns is-centered has-background-grey-dark">
                        <div class="column box">
                            Blah
                        </div>
                        <div class="column box">
                            Blah
                        </div>
                        <div class="column box">
                            Blah
                        </div>
                        <div class="column box">
                            Blah
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>