<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="box">
            <h1 class="title with-margin is-1 has-text-centered">
                Become a Member!
            </h1>
            <p>
                SWIFT is a way of moving your college career to the next level. Joining is a three step process, but it
                should not take more then 10 minutes. Membership allows you to participate in events and competitions,
                vote in elections and much more! With the help of our club resources, you can make your mark on the
                cyber security field. Join us and meet other students that are talented and passionate about
                cybersecurity. Membership is per year and is available to all Cal Poly Students and active Cal State
                Students of any major. Membership lasts for the entire academic year.
            </p>
        </div>
    </div>
</div>