<div class="columns">
    <div class="column is-8 is-offset-2">
        {% for section in site.data.join.descriptions %}
        <div class="box">
            <h1 class="title with-margin is-1 has-text-centered">
                {{ section.title }}
            </h1>
            {% if section.image %}
            <div class="columns">
                <div class="column">
                    <figure class="image">
                        <img src="{{section.image}}" alt="{{section.title}}">
                    </figure>
                </div>
                <div class="column">
                    {% endif %}
                    <p>
                        {{ section.description }}
                        {% if section.list %}
                    <ul>
                        {% for item in section.list %}
                        <li>{{item.item}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    </p>
                    {% if section.link %}
                    <div class="is-centered">
                        <a href="{{ section.link1 }}"
                            class="button is-medium is-info is-rounded is-uppercase has-text-weight-normal">
                            {% if section.link-text1 %}
                            {{ section.link-text1 }}
                            {% else %}
                            See more
                            {% endif %}
                        </a>
                    </div>
                    {% endif %}
                    {% if section.link %}
                    <div class="is-centered">
                        <a href="{{ section.link }}"
                            class="button is-medium is-info is-rounded is-uppercase has-text-weight-normal">
                            {% if section.link-text %}
                            {{ section.link-text }}
                            {% else %}
                            See more
                            {% endif %}
                        </a>
                    </div>
                    {% endif %}
                    {% if section.image %}
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
