<div class="columns">
    <div class="column is-8 is-offset-2">
        {% for section in site.data.support.descriptions %}
        <div class="box">
            <h1 class="title with-margin is-1 has-text-centered">
                {{ section.title }}
            </h1>
            <div class="columns">
                <div class="column is-centered" style="padding: 2em 3em">
                    <p style="text-align: center;">
                        {{ section.description }}
                    </p>
                    {% if section.list %}
                    <div style="display: flex; padding: 0 calc(50% - 15em);">
                        <ul style="text-align: left;">
                            {% for item in section.list %}
                            <li>{{item.item}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if section.image %}
                    <div class="is-centered has-text-centered">
                        <img src="{{ section.image }}" alt="Section Image">
                    </div>
                    {% endif %}
                    {% if section.link %}
                    <div class="is-centered has-text-centered"> 
                        <a href="{{ section.link }}"
                            class="button is-medium is-info is-rounded is-uppercase has-text-weight-normal">
                            {% if section.link-text %}
                            {{ section.link-text }}
                            {% else %}
                            See more
                            {% endif %}
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>