---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-medium">
        <div class="hero-body">
            <!-- This is to skip a line without using <br> -->
            <div style="margin-top: 1rem;"></div> 
            <h1 class="title is-1 is-uppercase has-text-weight-bold has-text-centered">
                {{page.title}}
            </h1>
        </div>
    </section>
    <section class="hero is-halfheight has-background-black-ter">
        <div class="hero-body">
            <div class="container " id="page-section">
                <div class="section">
                    <div class="columns">
                        <div class="content column">
                            {{content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>